<h1>JQureyで遊ぶ</h1>
<p>JQuery UIの処理</p>
<p id="debug">()</p>

<div class="T-1">
  <div class="R-1">
    <div class="D-1">ここがリサイズできます </div>
    <div class="D-2">ここがリサイズできます</div>
    <div class="D-3">ここがリサイズできます</div>
  </div>
  <div class="R-2">
    <div class="D-1A">ここがリサイズできます</div>
    <div class="D-1B">ここがリサイズできます</div>
    <div class="D-1C">ここがリサイズできます</div>
  </div>
</div>