<h1>Jqueryを遊ぶ</h1>

<div class="demo">
  <table>
    <tr>
      <td colspan="4">ブログ全体</td>
    </tr>
    <tr>
      <td colspan="2"><div id="slider"></span></td>
      <td><input type="text" id="amount" style="border:0;" /></td>
      <td>ピクセル</td>
    </tr>
    <tr>
      <td>最小</div>
      <td class="right">最大</td>
    </tr>
  </table>
</div>