<h1>Jqueryを遊ぶ</h1>
<ul>
  <li><%= link_to 'トップページ', :root %></li>
  <li><%= link_to 'スライダーで遊ぶ', :users %></li>
  <li><%= link_to 'リサイズで遊ぶ', :administrators %></li>
  <li><%= link_to '座標で遊ぶ', :announcements %></li>
</ul>
<h2>座標で遊ぶ</h2>

<p class="out_put"></p>
<div>
<span>Point_1:</span>
<span>幅：<span class="point_1_out"></span>
<span>高さ：<span class="point_2_out"></span>
<span class="out_put_point_1"></span>
</div>

<div id="wrong_controller">
  <div id="wrong_picture">
  </div>

  <div id="wrong_point_box">
    <div class="point_1">
    </div>
    <div class="point_2">
    </div>
    <div class="point_3">
    </div>
    <div class="point_4">
    </div>
    <div class="point_5">
    </div>
  </div>
</div>