// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrong_picture{
  margin: 50px;
  width: 320px;
  height: 480px;
  background: #fff;
  border: 1px solid #000;
  }